
.ingredients {
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 15%;
    position: absolute;
}

.egg{
    background-image: url('./fridge_pics/ingredient5.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 15%;
    top: 40%;
    left: 25%;
    position: absolute;
}

.pepper {
    background-image: url('./fridge_pics/ingredient9.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 15%;
    top: 23%;
    left: 43%;
    position: absolute;
}