.dinogame{
  background-image: url(./dino_pics/dino_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw auto; /*resize to cover entire container using cover changes image ratio which fucks up other positioning*/
  width: 100vw;
  position: relative;
}
  
.dino {
    width: 20%;
    height: 30%;
    background-image: url(./dino_pics/dino.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
  

  
@keyframes jump {
    0% {
      top: 62%;
    }
  
    30% {
      top: 40%;
    }
  
    50% {
      top: 25%;
    }
  
    80% {
      top: 40%;
    }
  
    100% {
      top:62%;
    }
  }
  
.cactus {
    width: 20%;
    height: 30%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 62%;
  
    background-image: url(./dino_pics/cactus.png);  
  
}
  
@keyframes block {
  0% {
    left: 90%;
  }
  
  100% {
    left: -20%;
  }
}