.settings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 30px 30px 30px;
    border-radius: 18px;
    background-color: #ffddd2;
    text-align: left;
    justify-content: left;
    position: absolute;
    top: 8%;

    border-color: #000;
    border-width: 0.2rem;
    border-style: solid;
}


.squaretab {
    display: flex;
    padding: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #ffddd2;
    row-gap: 3%;
    align-items: left;
    position: absolute;
    

    height: 100%;
    width: 100%;


}

.tabbutton {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 18vw;
    padding: 10px 5px 20px 13px ;
    text-align: flex-start;
    background-color: #ffddd2;
    
    align-self: left;
    border-color: #000;
    border-width: 0.2rem;
    border-style: solid;
    border-bottom-style: hidden;
}

@media screen and (max-width: 700px) {
    .tabbutton{
        max-width: 21vw !important;
    }
    
}
    
