.jigsaw-puzzle {
    position: absolute;
}

.jigsaw-puzzle__piece {
    position: absolute;
    border: 1px solid #cecece;
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.jigsaw-puzzle__piece.jigsaw-puzzle__piece--solved {
    border-color: #000;
    z-index: 0;
}

.jigsaw-puzzle__piece.jigsaw-puzzle__piece--dragging {
    z-index: 5;
    box-shadow: 1px 1px 5px 0px #00000091;
}

.loading {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dda15e;
}


.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 30px 30px 30px;
    border-radius: 18px;
    background-color: #ffddd2;
    text-align: left;
    justify-content: left;
    position: relative;

    border-color: #000;
    border-width: 0.2rem;
    border-style: solid;
}

.puzzletab {
    display: flex;
    padding: 2%;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffddd2;
    row-gap: 3%;
    align-items: left;

    height: 100%;
    width: 100%;

}

.tabbutton {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 18vw;
    padding: 10px 5px 20px 13px;
    text-align: flex-start;
    background-color: #ffddd2;

    align-self: left;
    border-color: #000;
    border-width: 0.2rem;
    border-style: solid;
    border-bottom-style: hidden;
}