.settings-container {
    background-color: #e29578;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.break{
    display: block;
   margin: 10% 0;
}

.title {
    margin-bottom: 3rem;
    position: absolute;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
    border-radius: 18px;
    background-color: #ffddd2;
    text-align: center;
    justify-content: center;

    box-shadow: 0 4px 16px 8px hsl(205, 86%, 17%, 0.4);
    position: relative;
}


.subform {
    display: flex;
    padding: 2%;
    flex-direction: column;
    border-radius: 10px;
    text-justify: auto;
    background-color: #ffddd2;
    row-gap: 3%;
}




.cookingform{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    background-color: #f6eae6;
    row-gap: 3vh;
    padding:5%;

    box-shadow: 0 4px 16px 8px hsl(205, 86%, 17%, 0.4);
    position: absolute;   

}

.form p {
    color: black;
}

.label {
    color: black;
}

.input {
    width: 50%;
}